<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>

    <body>
        <table>
			<tr>
				<th>
					<img width = "35" height = "35" 
					src="/img/logo.jpg" alt="Meadowlark Travel Logo"></img>
				</th>
				<th>
					<h1>Meadowlark Travel</h1>
				</th>
			</tr>
		</table>
		{{!-- Replaced with HTML for each view --}}
		{{{body}}}
    </body>
</html>