<h2>All About Us</h1>

<p>Our agents are not responsible for anything that
might happen on your trip :)</p>

{{#if fortune}}
    <p>May this fortune bring you luck:</p>
    <blockquote>{{fortune}}</blockquote>
{{/if}}